<main class="cover-container w-100 h-100 mx-auto flex-column text-center align-middle py-5">
    <div class="px-3 py-5 ">
        <h1>Your application has been successfully submitted.</h1>
        <p class="lead">Your application is being processed and all communications on your application will be shared 
            with you by the Customer Service Representative helping you in branch.</p>
    </div>
    <div class="px-3 py-5 text-bg-dark">
        <h3 class="text-warning">Application ID : <i class="bi bi-lock"></i> {{applicationID}}</h3>
    </div>
    <div class="px-3 py-5">
        <h6> You can use your application ID at any point In time to check on or track
            the status of your application.
        </h6>
    </div>
</main>
