<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="#">MCB</a>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <button class="btn btn-success" type="button">
                <strong><i class="bi-box-arrow-right"></i> Log out</strong>
            </button>
        </div>
    </div>
</nav>