<div class="main">
    <div class="py-5 text-center">
        <h2>CUSTOMER ONBOARDING APPLICATIONS</h2>
    </div>
    <div class="row dashboard-info">
        <div class="col-1"></div>
        <button type="button" class="btn btn-primary btn-lg border-primary col-3"><i class="bi bi-folder"></i> 452 Proceeded Applications</button>
        <button type="button" class="btn btn-success btn-lg border-success col-3"><i class="bi bi-folder-check"></i> 321 Approved</button>
        <button type="button" class="btn btn-danger btn-lg border-danger col-3"><i class="bi bi-folder-x"></i> 112 Rejected</button>    
    </div>
    <div class="table-responsive py-5">
        <table class="table table-md table-hover table-bordered table-striped">
            <thead class="table-primary">
                <tr class="text-center align-middle">
                    <th *ngFor="let tabhead of processorTableHeader" scope="col">{{tabhead}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let proceededApp of proceededApplication" class="text-center align-middle">
                    <td class="table-success">{{proceededApp.companyName}}</td>
                    <td>{{proceededApp.entityTypeName}}</td>
                    <td>{{proceededApp.activityName}}</td> 
                    <td>{{proceededApp.countryName}}</td>
                    <td>{{proceededApp.registrationNumber}}</td>
                    <td class="action-col">
                        <button type="button" class="btn btn-outline-success" title="Proceed" (click)="approve(proceededApp.applicationId)">
                            <i class="bi bi-check"></i> Approve
                        </button>
                        <button type="button" class="btn btn-outline-danger" title="Reject" (click)="reject(proceededApp.applicationId)">
                            <i class="bi bi-x"></i> Reject
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>