<div class="main">
    <div class="py-5 text-center">
        <h2>CUSTOMER ONBOARDING APPLICATIONS</h2>
    </div>
    <div class="row dashboard-info">
        <div class="col-1"></div>
        <button type="button" class="btn btn-primary btn-lg border-primary col-3"><i class="bi bi-folder"></i> {{appKpi.submitted}} Applications</button>
        <button type="button" class="btn btn-success btn-lg border-success col-3"><i class="bi bi-folder-check"></i> {{appKpi.proceeded}} Proceeded</button>
        <button type="button" class="btn btn-danger btn-lg border-danger col-3"><i class="bi bi-folder-x"></i> {{appKpi.rejected}} Rejected</button>
    </div>
    <div class="table-responsive py-5">
        <table class="table table-md table-hover table-bordered table-striped">
            <thead class="table-primary">
                <tr class="text-center align-middle">
                    <th *ngFor="let tabhead of processorTableHeader" scope="col">{{tabhead}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let subApp of submittedApplication" class="text-center align-middle">
                    <td class="table-success">{{subApp.companyName}}</td>
                    <td>{{subApp.entityTypeName}}</td>
                    <td>{{subApp.activityName}}</td>
                    <td>{{subApp.countryName}}</td>
                    <td>{{subApp.registrationNumber}}</td>
                    <td class="action-col">
                        <button type="button" class="btn btn-outline-warning" title="Edit" (click)="edit(subApp.applicationId)">
                            <i class="bi bi-pencil"></i> Edit
                        </button>
                        <button type="button" class="btn btn-outline-primary" title="View documents" (click)="viewDocument(subApp.applicationId)">
                            <i class="bi bi-eye"></i> View Documents
                        </button>
                    </td>
                    <td class="action-col">
                        <button type="button" class="btn btn-outline-success" title="Proceed" (click)="proceed(subApp.applicationId)">
                            <i class="bi bi-check"></i> Proceed
                        </button>
                        <button type="button" class="btn btn-outline-danger" title="Reject" (click)="reject(subApp.applicationId)">
                            <i class="bi bi-x"></i> Reject
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
